@page "/"
@inherits DisplayFilesBase

<PageTitle>Files</PageTitle>

@if (Files == null && ErrorMessage == null)
{
    <h3>Loading...</h3>
}
else if (ErrorMessage != null)
{
    <h3>@ErrorMessage</h3>
}
else
{
    <h1>Your Files</h1>
    @if(Files.Count() == 0)
    {
        <p>No files uploaded for user</p>
    }
    else
    {
        @foreach (var file in Files)
        {
            <h3>@file.FileName</h3>
            <p>
                Type: @file.FileType
                &brvbar;
                Size: @file.FileSizeBytes
            </p>
            <button @onclick="() => DownloadFile(file.Guid)">Download</button>

        }
    }
    <UploadFile />
}